<nav>
    <a href="{% url 'jobs:list_jobs' %}">Jobs</a>

    {% if user.is_authenticated %}
        {% if user.role == "recruiter" %}
            <a href="{% url 'accounts:recruiter_profile' %}">My Profile</a>
        {% else %}
            <a href="{% url 'accounts:applicant_profile' %}">My Profile</a>
        {% endif %}

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'accounts:signup' %}">Signup</a>
    {% endif %}
</nav>
